# Clase 8: Big Data and Machine Learning en el Mercado Inmobiliario. Educación Continua


El siguiente  cuaderno limpia los datos que use durante la clase teórica e implementa lo mostrado en clase.

In [1]:
#cargar librerias
import pandas as pd 
import numpy as np

Cargo los datos que vienen de  <a href='https://www.properati.com.co'>Properati</a> y fueron descargados el 26 de Marzo de 2022.

In [2]:
df = pd.read_csv('co_properties.csv.gz', compression='gzip', header=0,    sep=',', quotechar='"')

In [3]:
df.head()

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,bathrooms,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type
0,KsjahK62rxcYKXXQjOdkqw==,Propiedad,2020-10-07,2021-10-09,2020-10-07,3.9210,-76.506000,Colombia,Valle del Cauca,NaN,...,7.0,NaN,NaN,1.300000e+09,COP,NaN,Casa Campestre en venta en darien 3469064,"HERMOSA CASA CAMPESTRE, &Aacute;REA 6,000 MT, ...",Casa,Venta
1,Y+gsBZYq1zu5NoR3V5oUGA==,Propiedad,2020-10-07,2021-01-06,2020-10-07,3.3577,-76.541811,Colombia,Valle del Cauca,Cali,...,7.0,NaN,NaN,2.800000e+09,COP,NaN,Casa en ciudsd jardin,Casa independiente con posiciona en ciudad jar...,Casa,Venta
2,Jpzqxj8/Vgf3Aa5ASxUBNg==,Propiedad,2020-10-07,2020-10-07,2020-10-07,3.3577,-76.541811,Colombia,Valle del Cauca,Cali,...,7.0,NaN,NaN,2.800000e+09,COP,Mensual,Casa en ciudsd jardin,Casa independiente con posiciona en ciudad jar...,Casa,Venta
3,ieuFnkFx/yHDD66iMV14Gw==,Propiedad,2020-10-07,2021-04-12,2020-10-07,3.3640,-76.538000,Colombia,Valle del Cauca,Cali,...,8.0,NaN,NaN,3.500000e+09,COP,NaN,Casa en venta en pance 1630426,"EXCELENTE CASA - LOTE 6,373 MT, EN OBRA GRIS U...",Casa,Venta
4,g4u5JM+hAHEk8SukRSjMzg==,Propiedad,2020-10-07,9999-12-31,2020-10-07,3.3910,-76.517000,Colombia,Valle del Cauca,Cali,...,9.0,NaN,NaN,4.800000e+08,COP,NaN,CASA EXTERNA BARRIO CIUDAD 2000,"CASA EXTERNA EN EL BARRIO CIUDAD 2000,CONSTRUI...",Casa,Venta

In [4]:
df.l3.value_counts()

Medellín        262856
Bogotá D.C      171168
Cali             95401
Barranquilla     74801
Bucaramanga      46595
                 ...
Santiago             1
Guateque             1
San Alberto          1
Iza                  1
Ataco                1
Name: l3, Length: 343, dtype: int64

Propiedades en Bogotá

In [5]:
df=df[df['l3']=='Bogotá D.C']
df.l3.value_counts()

Bogotá D.C    171168
Name: l3, dtype: int64

Propiedades que el precio esta en COP

In [6]:
df.groupby('currency').agg({'id':'count'})

              id
currency
ARS            4
COP       171028
USD            5

In [7]:
df=df[df['currency']=='COP']

In [8]:
df.operation_type.value_counts()

Venta                100686
Arriendo              70332
Arriendo temporal        10
Name: operation_type, dtype: int64

Propiedades en venta

In [9]:
df=df[df['operation_type']=='Venta']

In [10]:
df.property_type.value_counts()

Apartamento        62891
Casa               23371
Otro                6182
Oficina             3706
Lote                2353
Local comercial     1802
Depósito             263
Finca                 97
Parqueadero           21
Name: property_type, dtype: int64

Me voy a quedar con casas (tarea hacerlo con los dos)

In [11]:
#df=df[(df['property_type']=='Casa') | (df['property_type']=='Apartamento')]
df=df[df['property_type']=='Casa']

In [12]:
df.property_type.value_counts()

Casa    23371
Name: property_type, dtype: int64

In [13]:
df=df[[ 'price', 'rooms', 'bedrooms', 'bathrooms', 'surface_total', 'surface_covered','lat','lon']]
df.head()

,price,rooms,bedrooms,bathrooms,surface_total,surface_covered,lat,lon
50,7.600000e+08,NaN,NaN,7.0,NaN,NaN,NaN,NaN
51,2.600000e+09,NaN,NaN,7.0,NaN,NaN,4.648423,-74.084421
164,5.300000e+08,3.0,3.0,NaN,NaN,NaN,4.732122,-74.051263
165,5.800000e+08,3.0,3.0,NaN,NaN,NaN,4.707211,-74.099645
166,2.200000e+09,3.0,3.0,NaN,NaN,NaN,4.714907,-74.028475

Nos quedamos con las observaciones completas, si tiene NaN, las tiro (paso debatible)

In [14]:
df=df.dropna()
df.head()

,price,rooms,bedrooms,bathrooms,surface_total,surface_covered,lat,lon
873,1.750000e+08,3.0,3.0,2.0,63.0,63.0,4.753,-74.112
1311,8.000000e+08,5.0,5.0,3.0,175.0,253.0,4.703,-74.057
1557,1.800000e+09,3.0,3.0,4.0,550.0,369.0,4.724,-74.024
8163,3.490000e+08,4.0,4.0,3.0,90.0,180.0,4.745,-74.064
8171,9.500000e+08,4.0,4.0,4.0,322.0,279.0,4.702,-74.060

In [15]:
df.shape

(1132, 8)

# Enfoque de validación

Divido la muestra en 80% entrenamiento, 20% prueba

In [34]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2,random_state=123)

In [35]:
y_train= train['price']
X_train=train.drop(columns=['price'])

y_test= test['price']
X_test=test.drop(columns=['price'])

In [18]:
from sklearn.linear_model import LinearRegression

model1 = LinearRegression().fit(X_train[['rooms']],y_train)

In [19]:
 y_pred = model1.predict(X_test[['rooms']])

In [20]:
y_pred[0:10]

array([1.32764284e+09, 1.31508025e+09, 1.31298649e+09, 1.31926778e+09,
       1.31298649e+09, 1.32764284e+09, 1.31717402e+09, 1.31508025e+09,
       1.31089272e+09, 1.32136155e+09])

In [21]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

2.648756376377227e+18

# Lasso

In [23]:
#llamamos la libreria
from sklearn.linear_model import Lasso

In [37]:
# Definimos el modelo
model1 = Lasso(alpha=0.01).fit(X_train[['rooms']],y_train)
print(np.round_(model1.coef_,decimals=2))

[2093765.47]

In [40]:
# Aumentamos la penalidad a 1000000
model2 = Lasso(alpha=1000000).fit(X_train[['rooms']],y_train)
print(np.round_(model2.coef_,decimals=2))

[1983417.37]

In [41]:
# Aumentamos la penalidad a 10000000
model3 = Lasso(alpha=10000000).fit(X_train[['rooms']],y_train)
print(np.round_(model3.coef_,decimals=2))

[990284.48]

In [43]:
# Aumentamos la penalidad a 100000000000000000
model4 = Lasso(alpha=100000000000000000).fit(X_train[['rooms']],y_train)
print(np.round_(model4.coef_,decimals=2))

[0.]